<%= render 'layouts/navbar' %>
<div id="dashboard" class="container-fluid" ng-controller="DashboardController">
  <div ng-init="channels = <%= @channels.to_json %>"></div>
  <div ng-init="users = <%= @users.to_json %>"></div>
  <div ng-init="tags = <%= @tags.to_json %>"></div>

  <div class="row">
    <div class="col-md-2 col-sm-3 filter-options-box-1">
      <div class="col-md-12">
        <h2>Channels</h2>
        <ul>
          <li ng-repeat="channel in channels">
            <a href="#" ng-click="setChannel(channel)">{{channel.name}}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-12">
        <h2>People</h2>
        <ul>
          <li ng-repeat="user in users">
            <a href="#" ng-click="setUser(user)">{{user.username}}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-12">
        <h2>Tags</h2>
        <ul>
          <li ng-repeat="tag in tags">
            <a href="#" ng-click="addTag(tag.name)">{{tag.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-10 col-sm-9 col-xs-12 text-left">


      <div class="col-xs-12 filters-container">

        <span ng-if="filter.channel" class="label label-success">
          channel: {{filter.channel.name}}
          <i class="glyphicon glyphicon-remove" ng-click="clearChannel()"></i>
        </span>

        <span ng-if="filter.user" class="label label-info">
          user: {{filter.user.username}}
          <i class="glyphicon glyphicon-remove" ng-click="clearUser()"></i>
        </span>

        <span ng-repeat="tag in filter.tags" class="label label-warning">
          tag: {{tag}}
          <i class="glyphicon glyphicon-remove" ng-click="removeTag(tag)"></i>
        </span>

      </div>

      <div class="col-md-12 col-xs-12 order-options-container">
        <h1 id="team-name"><%= @team.name %></h1>
        <!--<span class="order-options">Filter: <%= link_to '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>'.html_safe, "#" %></span>-->
        <!-- <span class="order-options">View: <%#= link_to '<span class="glyphicon glyphicon-th" aria-hidden="true"></span>  <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>'.html_safe, "#" %></span>  -->
      </div>
      <div class="row">
        <div class="col-md-12" ng-init="dataClips = <%= @data_clips.to_json %>">
          <% @data_clips.each do |data_clip| %>
            <div class="pointer" ng-show="isDataClipVisible(<%= data_clip.id %>)">
              <%= link_to '',dashboard_path(data_clip), remote: true, class: "modal-btn data-clip-#{data_clip.id}"%>
              <div class="col-md-3 col-sm-6 data-clip" data-id="<%= data_clip.id %>">
                <div class="thumbnail" style="height: 260px">
                  <h4 class="data-clip-number">
                    <%= data_clip.id %>. <%= data_clip.name %>
                    <% if data_clip.starred %>
                      <span class="glyphicon glyphicon-star data-clip-started text-primary"></span>
                    <% end %>
                  </h4>
                  <div class="height" style="height: 140px; overflow-y: hidden">
                    <p class="text-center" style="max-height: 200px"><%= markdown(data_clip.data) %></p>
                  </div>
                  <div class="caption text-righ">
                    <p><img src="<%= data_clip.user.image %>" width="40" height="40" alt="..." style="border-radius: 100%"> <%= data_clip.user.username %></p>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  angular.bootstrap(document.getElementById('dashboard'), ['DashboardApp']);
</script>
<style>
@media (max-width: 768px) {
  .filter-options-box-1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .filter-options-box-2 {
    display: none;
  }
  .filters-container span {
    margin-right: 15px;
  }
}
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-clip').click(function(event) {
      var $dataClip = $(event.currentTarget);
      var dataClipId = $dataClip.data('id')
      $('.data-clip-'+dataClipId).click();
      //$dataClip.find('.modal-btn').click();
    })
  })
</script>
