<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-3 filter-options-box-1">
      <div class="col-md-12">
        <h2>Channels <%= link_to '<span class="glyphicon glyphicon-plus-sign plus-icon"></span>'.html_safe, "#" %></h2>
        <ul>
          <% @channels.each do |channel| %>
            <li><%= link_to channel.name, "#" %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-12">
        <h2>People <%= link_to '<span class="glyphicon glyphicon-plus-sign plus-icon"></span>'.html_safe, "#" %></h2>
        <ul>
          <% @members.each do |member| %>
            <li><%= link_to member.slack_id, "#" %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-12">
        <h2>Tags <%= link_to '<span class="glyphicon glyphicon-plus-sign plus-icon"></span>'.html_safe, "#" %></h2>
        <ul>
          <% @tags.each do |tag| %>
            <li><%= link_to tag.name, "#" %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 filter-options-box-2">

      <div class="col-xs-12 form-group">
        <label for="exampleInputEmail1">Channels</label>
        <select class="form-control">
          <option value="Channel 1" class="form-control">Channel 1</option>
          <option value="Channel 2" class="form-control">Channel 2</option>
          <option value="Channel 3" class="form-control">Channel 3</option>
          <option value="Channel 4" class="form-control">Channel 4</option>
          <option value="Channel 5" class="form-control">Channel 5</option>
        </select>
      </div>

      <div class="col-xs-12 form-group">
        <label for="exampleInputEmail1">Tags</label>
        <select class="form-control">
          <option value="Tag 1" class="form-control">Tag 1</option>
          <option value="Tag 2" class="form-control">Tag 2</option>
          <option value="Tag 3" class="form-control">Tag 3</option>
          <option value="Tag 4" class="form-control">Tag 4</option>
          <option value="Tag 5" class="form-control">Tag 5</option>
        </select>
      </div>


      <div class="col-xs-12 form-group">
        <label for="exampleInputEmail1">People</label>
        <select class="form-control">
          <option value="People 1" class="form-control">People 1</option>
          <option value="People 2" class="form-control">People 2</option>
          <option value="People 3" class="form-control">People 3</option>
          <option value="People 4" class="form-control">People 4</option>
          <option value="People 5" class="form-control">People 5</option>
        </select>
      </div>

      <div class="col-xs-6 col-xs-offset-3 form-group">
        <button type="submit" class="form-control btn-success">Search</button>
      </div>
    </div>

    <div class="col-md-10 col-sm-9 col-xs-12 text-left">
      <div class="col-md-12 col-xs-12 order-options-container">
        <h1 id="team-name">Team Name</h1>
        <span class="order-options">Filter: <%= link_to '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>'.html_safe, "#" %></span>
        <span class="order-options">View: <%= link_to '<span class="glyphicon glyphicon-th" aria-hidden="true"></span>  <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>'.html_safe, "#" %></span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% @data_clips.each do |data_clip| %>
            <div class="col-md-4 col-sm-6">
              <div class="thumbnail">
                <h4 class="data-clip-number">
                  <%= data_clip.id %>. <%= data_clip.name %>
                  <% if data_clip.starred %>
                    <%= link_to "#" do %>
                      <span class="glyphicon glyphicon-star data-clip-started"></span>
                    <% end %>
                  <% else %>
                    <%= link_to "#" do %>
                      <span class="glyphicon glyphicon-star-empty data-clip-started"></span>
                    <% end %>
                  <% end %>
                </h4>
                <p class="text-justify"><%= data_clip.data %></p>
                <div class="caption text-right">
                  <p><img src="<%= data_clip.user.image %>" width="40" height="40" alt="..."> <%= data_clip.user.username %> <a href="#" class="btn btn-default" role="button">View</a></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="underline"><u>From April 24 to April 30</u></h3>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <h3>Data Clip #22 <%= link_to '<span class="glyphicon glyphicon-star data-clip-started"></span>'.html_safe, "#" %></h3>
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <div class="caption text-right">
                <p><img src="http://lorempixel.com/40/40/sports/" alt="..."> mardiniii <a href="#" class="btn btn-default" role="button">View</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <h3>Data Clip #21 <%= link_to '<span class="glyphicon glyphicon-star data-clip-started"></span>'.html_safe, "#" %></h3>
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <div class="caption text-right">
                <p><img src="http://lorempixel.com/40/40/sports/" alt="..."> mardiniii <a href="#" class="btn btn-default" role="button">View</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
@media (max-width: 768px) {
  .filter-options-box-1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .filter-options-box-2 {
    display: none;
  }
}
</style>
