<% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= image_tag 'logo', class: 'img-responsive logo-nav' %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= form_tag(panel_path, class: "navbar-form navbar-left", method: :get) do %>
          <div class="input-group">
            <%= text_field_tag :q, params[:q], {placeholder: "search for words or for tags", class: "form-control search-input"} %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Go!</button>
            </span>
          </div>
        <% end %>

        <form class="navbar-form navbar-left" role="search">
          <div class='input-group date'>
            <input type='text' placeholder="Select start date" class="form-control datepicker"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </form>

        <form class="navbar-form navbar-left" role="search">
          <div class='input-group date'>
            <input type='text' placeholder="Select end date" class="form-control datepicker"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- <li role="separator" class="divider"></li> -->
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
